.note-container {
    width: 15rem;
    height: 10rem;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    padding: 0.5rem;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    cursor: pointer;
    position: relative;
}

.note-container:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.show-note{
    word-wrap: break-word;
}

.note-buttons{
    position: absolute;
    bottom: 0;
    right: 0;
}

.note-buttons > span{
    padding: 2px;
}
.note-buttons > span:hover{
    background-color: var(--classic-color);
    border-radius: 50%;
}