.all-labels-contailer {
  margin: 1rem;
  flex: 0.8;
}
.label-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.label {
  padding: 0.4rem;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  border-radius: 1rem;
  background-color: var(--primary-color-shade);
  color: var(--light-color);
}
