.searchbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-input {
  outline: none;
  padding: 12px;
  min-width: 20rem;
  width: 30rem;
}
.search-button {
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  position: absolute;
  right: 0.5rem;
}

.search-button:hover {
  background-color: var(--classic-color);
}
@media only screen and (max-width: 768px) {
  .searchbar-container {
    display: none;
  }
}
