.active-nav-item {
  color: var(--primary-color);
}
.material-icons {
  cursor: pointer;
}

nav {
  height: 3rem;
  padding: 2rem 3rem;
  z-index: 1;
}

.nav-brand {
  margin-right: 0;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  gap: 1rem;
  background-color: var(--bg-color);
}
.nav-menu {
  margin-left: auto;
}

.logo {
  width: 3rem;
}

.searchbar {
  margin: 0 2rem;
}

.btn-small {
  padding: 0.3rem;
}
@media only screen and (max-width: 768px) {
  .hamburger {
    padding: 0rem;
  }
  .nav-brand {
    margin-left: 0;
  }

  .nav-item {
    display: flex;
  }
  .nav-item > span {
    font-size: 24px;
  }

  .logo {
    width: 2rem;
  }

  .searchbar {
    display: none;
  }
  nav {
    padding: 0rem 1rem;
    z-index: 1;
  }

  .nav-menu {
    margin-left: auto;
    gap: 1.8rem;
  }
}
