@import url("https://fonts.googleapis.com/css2?family=Acme&family=Lato:wght@400;700&display=swap");
.main-container {
  margin-top: 4rem;
}

input {
  background-color: var(--light-color);
  color: var(--text-color);
}
