.quill-editor {
  background-color: var(--light-color);
  border: none;
  border-radius: 10px 10px 0 0;
}

.ql-snow .ql-stroke {
  stroke: var(--primary-color);
}
.ql-toolbar.ql-snow {
  background-color: var(--light-color);
}
.ql-snow .ql-tooltip {
  background-color: var(--light-color);
}
.ql-snow .ql-picker {
  color: var(--primary-color);
}
.ql-active {
  color: var(--secondary-color);
}

.ql-toolbar.ql-snow {
  background-color: var(--light-color);
  border-radius: 10px 10px 0 0;
  padding: 0.5rem;
}

/* css for quill active tools */
.ql-snow.ql-toolbar .ql-picker-label.ql-active {
  color: var(--secondary-color);
}

.ql-snow.ql-toolbar button:hover .ql-stroke {
  stroke: var(--secondary-color);
}

.ql-snow.ql-toolbar button.ql-active .ql-stroke {
  stroke: var(--secondary-color);
}

.ql-snow.ql-toolbar button:hover .ql-fill {
  fill: var(--secondary-color);
}

.ql-snow.ql-toolbar button.ql-active .ql-fill {
  fill: var(--secondary-color);
}
.my-editing-area {
  height: 10rem;
}
